{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid"></article>
        <br>
        <!-- Напишите свой код здесь (Вывод свойств объекта User) -->
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <!-- Напишите свой код здесь (перебор пользователей) -->
                        {% for user in list_users %}
                            <li class="list-group-item"> {{ user }} <a href="/user/{{ user }}"> {{ user.text }} </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
